/* Sidebar */
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1; /* Stay on the top of the page */
    top: 0; /* Stay at the top of the page */
    left: 0;
    background-color: #a6a6a6;
    overflow-x: hidden; /* No horizontal scroll */
    padding-top: 20px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #333333;
  display: block;
}

.sidebar a:hover {
    color:gold;
}

/* Profile Picture */
.pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Flexbox */
.flex-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    color: #262626;
}

/* Playlist Container */
.playlist {
    height: 200px;
    width: 600px;
    overflow-y: scroll;
    border: 1px solid gold;
    padding: 10px;
}

/* Song Continer */
.song {
    padding: 5px;
    font-size: 30px;
    border-bottom: 1px solid gray;
}

/* Album Art */
.album-art {
    width: 50px; /* Set the width of the album image */
    height: 50px; /* Set the height of the album image */
    margin-right: 10px; /* Add margin to separate the image from the text */
}

/* Body */
body {
    font-family: Helvetica, sans-serif;
    background-color: #737373;
    color: #333333;;
}
