/* Sidebar */
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1; /* Stay on the top of the page */
    top: 0; /* Stay at the top of the page */
    left: 0;
    background: linear-gradient(
        135.8deg,
        rgb(26, 26, 29) 27.1%,
        rgb(111, 34, 50) 77.5%
      );
    overflow-x: hidden; /* No horizontal scroll */
    padding-top: 20px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidebar a:hover {
    background-color: #73726b7b;
}

/* Profile Picture */
.pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Flexbox */
.flex-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    color: #000;
}

/* Box Container */
.container {
    height: 200px;
    width: 600px;
    overflow-y: scroll;
    border: 1px solid white;
    padding: 10px;
}

/* Song Continer */
.song {
    padding: 5px;
    font-size: 30px;
    border-bottom: 1px solid white;
    color: white;
}

/* DJ Container */
.dj {
    padding: 5px;
    font-size: 30px;
    border-bottom: 1px solid white;
    transition: box-shadow 0.3s; /* Add a smooth transition effect */
    color: white;
}

.dj.active {
    box-shadow: 0 0 10px 2px red;
}

/* Album Art */
.album-art {
    width: 50px; /* Set the width of the album image */
    height: 50px; /* Set the height of the album image */
    margin-right: 10px; /* Add margin to separate the image from the text */
}

.add-button {
    width: 50px; /* Set the width of the album image */
    height: 50px; /* Set the height of the album image */
    margin-right: 10px; /* Add margin to separate the image from the text */
    float: right;
}

/* Submit Button */
.submit-button {
    background-color: greenyellow;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Reset Button */
.reset-button {
    background-color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Body */
body {
    font-family: Helvetica, sans-serif;
    background: linear-gradient(
        135.8deg,
        rgb(26, 26, 29) 27.1%,
        rgb(111, 34, 50) 77.5%
      );
    color: white;
}

h1 {
    color: white;
}

/* Inline Text */
.inline {
    display:inline;
}
