<!DOCTYPE html>
<html>
    <head>
        <title>Radio Website</title>
        <link rel="stylesheet" href="stylesheet.css">
        <script src="script.js"></script>
    </head>
    <body>
        <div class="sidebar">
            <img src="img/sample_img.webp" alt="Profile Picture" class="pfp">
            <p style="font-size: 20px;text-align: center;"><%= username %></p> 
            <a href="#playlist">Current Playlist</a>
            <a href="#add_songs">Add Songs</a>
            <a href="#select_dj">Select DJ</a>
            <a href="#select_timeslot">Select Timeslot</a>
        </div>
        <div class="flex-container">
            <div>
                <!-- Current Playlist Block-->
                <h1>Current Playlist</h1>
                <div class="container" id="playlist-container">
                    <!-- Songs will be displayed here -->
                </div>
            </div>
            <script>
                async function fetchSongDetailsById(songId) {   // Gets a song object when given a songId
                    try {
                        const response = await fetch(`/database/songs/${songId}`);
                        if (!response.ok) {
                            throw new Error('Network response was not ok.');
                        }
                        const song = await response.json();
                        return song;
                    } catch (error) {
                        console.error('Error fetching song:', error);
                        return null;
                    }
                }

                function display_selected_songs() {
                    const playlistContainer = document.getElementById('playlist-container');
                    playlistContainer.innerHTML = '';
                    selectedSongs.forEach(async songId => {
                        const songDetails = await fetchSongDetailsById(songId);
                        if (songDetails) {
                            const songDiv = document.createElement('div');
                            songDiv.classList.add('song');
                            const img = document.createElement('img');
                            img.src = songDetails.album_art;
                            img.classList.add('album-art');
                            songDiv.appendChild(img);
                            const songTitle = document.createElement('p');
                            songTitle.textContent = songDetails.title;
                            songTitle.classList.add('inline');
                            songDiv.appendChild(songTitle);
                            playlistContainer.appendChild(songDiv);
                        } else {
                            console.log('Song details not found or error fetching.');
                        }
                    });
                }
            </script>
            <!-- Song Add Block -->
            <div>
                <h1>Add Songs</h1>
                <div class="container" id="add_song_container">
                    <!-- Songs will be displayed here -->
                </div>
                <script> // Fetch and display songs
                    async function display_songs() {
                        try {
                            const response = await fetch('/database/songs');
                            const songs = await response.json();
                            const songs_container = document.getElementById('add_song_container');
                            songs.forEach(song => {
                                const song_div = document.createElement('div');
                                song_div.classList.add('song');
                                const img = document.createElement('img');
                                img.src = song.album_art;
                                img.classList.add('album-art');
                                song_div.appendChild(img);
                                const song_title = document.createElement('p');
                                song_title.textContent = song.title;
                                song_title.classList.add('inline');
                                song_div.appendChild(song_title);
                                const add_button = document.createElement('img');
                                add_button.src = 'img/add.png';
                                add_button.classList.add('add-button');
                                add_button.onclick = function() {
                                    const songId = song._id;
                                    selectedSongs.push(songId);
                                    console.log(selectedSongs);
                                    localStorage.setItem('selectedSongs', JSON.stringify(selectedSongs));
                                    display_selected_songs();
                                };
                                song_div.appendChild(add_button);
                                songs_container.appendChild(song_div);
                            });
                        } catch (err) {
                            console.error(err);
                        }
                    }
                    window.onload = display_songs();
                    window.onload = function() {
                        const storedSongs = JSON.parse(localStorage.getItem('selectedSongs'));
                        if (storedSongs) {
                            selectedSongs = storedSongs;
                            display_selected_songs();
                        }
                    };
                </script>
            </div>
            <!-- Select DJ Block -->
            <div>
                <h1>Select DJ</h1>
                <div class="container">
                    <div class="dj" onclick="toggleActive(this)">
                        <img src ="img/sample_img.webp" class="album-art">
                        DJ Bunny
                    </div>
                    <div class="dj" onclick="toggleActive(this)">
                        <img src ="img/sample_img.webp" class="album-art">
                        DJ Rabbit
                    </div>
                    <div class="dj" onclick="toggleActive(this)">
                        <img src ="img/sample_img.webp" class="album-art">
                        DJ Lagomorph
                    </div>
                    <div class="dj" onclick="toggleActive(this)">
                        <img src ="img/sample_img.webp" class="album-art">
                        DJ Carrots
                    </div>
                    <div class="dj" onclick="toggleActive(this)">
                        <img src ="img/sample_img.webp" class="album-art">
                        DJ Hay
                    </div>
                </div>
            </div>
            <!-- Select Time Slot Block-->
            <div>
                <h1>Select Time Slot</h1>
                <div style="height: auto; width: 600px; border: 1px solid gold; padding: 10px;  ">
                    <form>
                        <label for="start_time">Start Time:</label>
                        <input type="text" id="start_time" name="start_time">
                        <label for="end_time">End Time:</label>
                        <input type="text" id="end_time" name="end_time">
                        <input type="button" value="Check Timeslot" id="timeslot_button">
                    </form>
                    <div id="error-popup" style="display: none;">
                        <p id="error-message" style="color: red;"></p>
                    </div>
                </div>
            </div>
            <button class="submit-button" id="submit-button">Submit</button>
            <button class="reset-button" id="reset-button">Reset</button>

            <script>
                document.getElementById("reset-button").addEventListener("click", function () {
                    const playlistContainer = document.getElementById("playlist-container");
                    while (playlistContainer.firstChild) {
                        playlistContainer.removeChild(playlistContainer.firstChild);
                    }
                    localStorage.removeItem('selectedSongs');
                });
            </script>
        </div>
    </body>
</html>
