<!DOCTYPE html>
<html>
    <head>
        <title>Secret Database Management Page!</title>
    </head>
    <body>
        <h1>Add Song Data</h1>
        <form id="add_song">
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="artist" placeholder="Artist">
            <input type="text" name="album" placeholder="Album">
            <input type="number" name="year" placeholder="Year">
            <input type="text" name="album_art" placeholder="Album Art (URL)">
            <button type="submit">Add Song</button>
        </form>
        <script>
            const form = document.getElementById('add_song');
            form.addEventListener('submit', async (event) => {
                event.preventDefault();
                const formData = new FormData(form);
                const response = await fetch('/database/songs', {
                    method: 'POST',
                    body: formData
                });
            });
        </script>
    </body>
</html>
